# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

.idea*

build/

Group_augmentation_RN

# CMake
cmake-build-*/

#is generated
Makefile



# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml


# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser


.gradle

*.exe
*.o
*.exe
*.o
*.json
*.sln
*.pdb
*.ilk
*.idb
*.log
*.ipch
*.opendb
*.tlog
*.filters
*.vcxproj
*.obj
*.db
*.user
*.sqlite
*.enc
*.sqlite-journal
*.xlsx
*.iobj
*.docx

*.tlog
*.log
*.obj
*.pdb
*.exe
*.iobj
*.ipdb
*.pdb
*.exe
*.tlog
*.log
*.obj
*.pdb
*.exe
*.iobj
*.ipdb
*.pdb
*.db
*.pdb
*.iobj
*.exe
*.log
*.lastbuildstate
*.tlog
*.db
